* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: gilroy-bold;
  src: url(./public/fonts/Gilroy-Bold.woff);
}
@font-face {
  font-family: gilroy-light;
  src: url(./public/fonts/Gilroy-Light.woff);
}
@font-face {
  font-family: gilroy-xl-bold;
  src: url(./public/fonts/gilroy-xl-bold.ttf);
}
@font-face {
  font-family: poppins-light;
  src: url(./public/fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: poppins-medium;
  src: url(./public/fonts/Poppins-Medium.ttf);
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  font-size: 1rem;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/*  footer */
footer {
  background-color: #000000;
  color: #ffffff;
  font-family: poppins-light;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1700px;
  margin: 10px auto 0;
}
footer .text-green {
  color: #03d077;
}
footer .icons_wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
footer a {
  fill: #ffffff;
  stroke: #ffffff;
  display: grid;
  place-content: center;
  place-items: center;
  height: 30px;
}
footer a:hover {
  fill: #03d077;
  stroke: #03d077;
}
/*  blade 2  */

.mobile_app_wrapper {
  max-width: 1600px;
  margin: 10px auto;
  display: grid;
  place-content: center;
  place-items: center;
  text-align: center;
  padding: 10px 5px;
}
.mobile_app_wrapper h2 {
  background-image: linear-gradient(180deg, #02ddb7 0%, #03d077 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: gilroy-xl-bold;
  font-weight: 800;
  line-height: 0.95;
  text-transform: uppercase;
  font-style: italic;
}
.mobile_app_wrapper p {
  font-size: 1rem;
  font-family: poppins-light;
  line-height: 1.4;
}

/*  header  */
header {
  background-color: #f5f5f5;
}
nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  flex-wrap: nowrap;
  padding: 35px 8px;
  margin: 0 auto;
  max-width: 1700px;
}
nav .links_wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}
nav .links_wrapper a {
  font-family: poppins-medium;
  border-radius: 9999px;
  border: 2px solid #000000;
  font-size: 1rem;
}

nav .links_wrapper .login {
  background-color: #000000;
  color: #ffffff;
}
nav .links_wrapper .contact {
  display: none;
}

.mobile_contact_btn {
  position: fixed;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #f5f5f5;
  color: #000000;
  padding: 10px;
  font-family: poppins-medium;
  font-size: 1.5rem;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}
.banner_wrapper {
  flex-wrap: nowrap;
  padding: 10px 0px;
  column-gap: 40px;
  row-gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #f5f5f5;
  height: calc(100vh - 100px);
  min-height: 600px;
  background-image: url("./public/img/banner_img.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom right;
}

@media (max-width: 1440px) {
  .banner_wrapper {
    background-size: 55%;
    background-position: bottom right -20%;
  }
}
@media (max-width: 976px) {
  .banner_wrapper {
    height: calc(100vh);
    background: none;
    flex-direction: column;

  }

  .banner_wrapper .img_wrapper {
    min-height: 500px;
    background-image: url("./public/img/banner_img.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: bottom right;

  }
}
@media (max-width: 786px) {
  .banner_wrapper {
    height: fit-content;
    background: none;
    overflow: hidden;
  }

  .banner_wrapper .img_wrapper {
    min-height: 350px;
    background-image: url("./public/img/banner_img.png");
    background-repeat: no-repeat;
    background-size: 360px;
    background-position: bottom right;
  }
}

.banner_wrapper .text_wrapper {
  display: grid;
  place-content: flex-start;
  gap: 10px;
  flex: 1 1 18rem;
  padding: 10px 0 100px;
}
.banner_wrapper .text_wrapper h2,
.banner_wrapper .text_wrapper span {
  max-width: 650px;
}

.banner_wrapper .text_wrapper h2 {
  font-family: gilroy-light;
  font-weight: 300;
  line-height: 1.25;
}
.banner_wrapper .img_wrapper {
  align-self: stretch;
  display: grid;
  place-content: flex-end;
  place-items: flex-end;
}

.banner_wrapper .text_wrapper span {
  font-family: poppins-light;
  font-weight: 300;
  line-height: 1.25;
}

.banner_wrapper .btn_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media screen and (max-width: 512px) {
  footer {
    padding: 20px 20px 16px;
    row-gap: 16px;
    justify-content: center;
    text-align: center;
    width: 100%;
    flex-direction: column;
  }
  footer .icons_wrapper {
    gap: 16px;
    justify-content: center;
  }
  .mobile_app_wrapper {
    gap: 10px;
  }
  .mobile_app_wrapper img {
    width: 90%;
    margin-bottom: 20px;
  }
  .mobile_app_wrapper h2 {
    font-size: 2.7rem;
  }

  nav {
    padding: 10px 6px;
  }
  nav img {
    height: 30px;
  }
  nav .links_wrapper .login {
    padding: 8px 30px;
  }
  .banner_wrapper .text_wrapper {
    flex: 1 1 15rem;
    padding: 50px 10px 30px;
  }
  .banner_wrapper .img_wrapper {
    flex: 1 1 10rem;
  }
  .banner_wrapper .text_wrapper h2 {
    font-size: 2.5rem;
  }
  .banner_wrapper .text_wrapper span {
    font-size: 18px;
  }
  .banner_wrapper .btn_wrapper a img {
    height: 45px;
    width: auto;
  }
  .banner_wrapper .btn_wrapper {
    margin-top: 25px;
  }
  .banner_wrapper {
    flex-direction: column;
  }
  .banner_wrapper .text_wrapper {
    margin-right: auto;
    margin-left: 0;
  }
  .mobile_app_wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 512px) {
  footer {
    border-radius: 24px 24px 0 0;
    padding: 40px 30px;
    gap: 10px;
    text-align: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }
  footer .icons_wrapper {
    gap: 24px;
    padding: 0 10px;
  }
  .mobile_app_wrapper {
    width: 95%;
    gap: 20px;
  }
  .mobile_app_wrapper h2 {
    font-size: 3.5rem;
  }
  .mobile_app_wrapper p {
    font-size: 18px;
    max-width: 500px;
  }
  nav img {
    height: auto;
  }
  nav .links_wrapper a {
    padding: 8px 30px;
  }
  .banner_wrapper .text_wrapper {
    gap: 20px;
    text-align: left;
    place-content: flex-start;
    padding: 0 10px 0px;
  }
  .banner_wrapper .text_wrapper h2 {
    font-size: 3rem;
  }
  .banner_wrapper .text_wrapper span {
    font-size: 20px;
  }
  .banner_wrapper .btn_wrapper {
    margin-top: 10px;
  }
  .banner_wrapper .btn_wrapper a img {
    height: 50px;
    width: auto;
  }
  .banner_wrapper .btn_wrapper {
    margin-top: 10px;
  }
  .banner_wrapper {
    flex-direction: column;
  }
  .banner_wrapper .text_wrapper {
    margin-right: auto;
    margin-left: 0;
  }
  .mobile_app_wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 768px) {
  footer {
    text-align: left;
    justify-content: space-between;
    width: 95%;
    flex-direction: row;
  }
  .mobile_app_wrapper h2 {
    font-size: 30px;
  }
  nav {
    width: 100%;
  }
  nav .links_wrapper a {
    padding: 8px 35px;
  }
  nav .links_wrapper .contact {
    display: block;
  }
  .mobile_contact_btn {
    display: none;
  }
  .banner_wrapper .text_wrapper {
    padding-left: 30px;
  }
  .banner_wrapper .text_wrapper h2 {
    font-size: 40px;
  }
  .banner_wrapper .text_wrapper span {
    font-size: 24px;
  }
  .banner_wrapper .btn_wrapper a img {
    height: 45px;
    width: auto;
  }
  .banner_wrapper .btn_wrapper {
    margin-top: 10px;
  }

  .banner_wrapper .text_wrapper {
    flex: 1 1 15rem;
    margin-right: auto;
    margin-top: 40px;
  }
  .banner_wrapper .img_wrapper {
    flex: 1 1 10rem;
    padding-left: 10vw;
  }
  .mobile_app_wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 976px) {
  nav .links_wrapper a {
    font-size: 18px;
  }
  .mobile_app_wrapper h2 {
    font-size: 4rem;
  }
  .mobile_app_wrapper {
    gap: 30px;
  }
  .mobile_app_wrapper p {
    font-size: 20px;
    max-width: 700px;
  }
  .mobile_app_wrapper img {
    max-width: 768px;
  }
  .banner_wrapper .text_wrapper h2 {
    font-size: 48px;
  }
  .banner_wrapper .text_wrapper span {
    font-size: 30px;
  }
  .banner_wrapper .btn_wrapper a img {
    height: 50px;
    width: auto;
  }
  .banner_wrapper .text_wrapper {
    gap: 24px;
  }
  .banner_wrapper .btn_wrapper {
    margin-top: 20px;
  }
  .banner_wrapper {
    flex-direction: row;
  }
  .banner_wrapper .text_wrapper {
    flex: 1 1 10rem;
    padding-left: 35px;
    margin-left: auto;
    margin-right: 0;
  }
  .banner_wrapper .img_wrapper {
    flex: 1 1 10rem;
    min-height: 600px;
    padding-left: 0;
  }
  .mobile_app_wrapper {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media screen and (min-width: 1280px) {
  nav {
    padding-left: 30px;
    padding-right: 30px;
  }
  nav .links_wrapper a {
    font-size: 20px;
  }
  .mobile_app_wrapper h2 {
    font-size: 5rem;
  }
  .mobile_app_wrapper {
    gap: 40px;
  }
  .mobile_app_wrapper p {
    font-size: 24px;
  }
  .mobile_app_wrapper img {
    max-width: unset;
  }
  .banner_wrapper .text_wrapper {
    flex: 1 1 18rem;
    padding-left: 45px;
    margin-bottom: 150px;
  }
  .banner_wrapper .text_wrapper h2 {
    font-size: 50px;
  }
  .banner_wrapper .text_wrapper span {
    font-size: 34px;
  }
  .banner_wrapper .btn_wrapper a img {
    height: 60px;
    width: auto;
  }
  .banner_wrapper .btn_wrapper {
    margin-top: 20px;
  }
  .banner_wrapper .img_wrapper {
    flex: 1 1 15rem;
  }
  .banner_wrapper .text_wrapper {
    flex: 1 1 7rem;
  }
  .banner_wrapper .img_wrapper {
    flex: 1 1 8rem;
  }
  .mobile_app_wrapper {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
@media screen and (min-width: 1440px) {
  .mobile_app_wrapper {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .mobile_app_wrapper h2 {
    font-size: 6rem;
  }
  .mobile_app_wrapper img {
    margin-bottom: 30px;
  }
  .mobile_app_wrapper p {
    font-size: 28px;
  }
  .banner_wrapper .text_wrapper h2 {
    font-size: 60px;
  }
  .banner_wrapper .text_wrapper span {
    font-size: 28px;
  }
  .banner_wrapper .text_wrapper {
    gap: 20px;
    place-content: flex-end;
    padding: 0 30px;
  }
  .banner_wrapper .btn_wrapper {
    margin-top: 40px;
  }
  .banner_wrapper .img_wrapper {
    flex: 1 1 14rem;
  }
}
